<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconsquare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconcircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDK_S7"
        tools:targetApi="31">
        <activity
            android:name=".ActivityMain"
            android:exported="false" />
        <activity
            android:name=".ActivityCreateCard"
            android:exported="false"
            android:theme="@style/splash_theme" />
        <activity
            android:name=".ActivityCreatePassword"
            android:exported="false"
            android:theme="@style/splash_theme" />
        <activity
            android:name=".ActivityEmailCode"
            android:exported="false"
            android:theme="@style/splash_theme" />
        <activity
            android:name=".ActivityLoginOrRegister"
            android:exported="false"
            android:theme="@style/splash_theme" />
        <activity
            android:name=".ActivityOnBoard"
            android:exported="true"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>